<!DOCTYPE HTML>
<html>
    <head>
        <title>Stepanets emergency info site</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body style="background-color:grey;">
        <h1> Most important emergency info</h1>
        <p><font size="25" color="red"> {{ info }} </font></p>
        <p> {{ user_name }}</p>
        <p> {{ curr_date }} </p>
    </body>
</html>